* {
  box-sizing: border-box;
}

html { 
  font-family: "Courier New";
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

#population {
  list-style: none;
  padding: 2rem 0;
}

.chromosome {
  display: grid;
  grid-template-columns: 1fr 20px;
  font-size: min(35px, 2.8vw);
}

.error {
  background: #e8505b;
}